.App {
  text-align: center;
}

table{
  border:2px solid black;
  border-collapse: collapse;
}
th,td{
  border: 2px solid black;
  
}
form{
  width: 400px;
  display: inline-block;
  background-color: rgb(128, 234, 238);
  border: 2px solid black;
}
label{
  display: inline-block;
   
   margin: 10px;
   font-size: 1rem;
   text-align: left;
}
div{
  margin: 10px;
}
button{
  margin: 10px;
}